[submodule "micropython-ssd1306"]
	path = micropython-ssd1306
	url = git@github.com:stlehmann/micropython-ssd1306.git
[submodule "micropython-max7219"]
	path = micropython-max7219
	url = git@github.com:alastairhm/micropython-max7219.git
[submodule "micropython-st7735"]
	path = micropython-st7735
	url = git@github.com:alastairhm/micropython-st7735.git
